{{> welcome-menu}}

<div class="box">
  <div class="content has-text-centered">
    <h1 class="title">Welcome to Placemarks</h1>
    <p class="subtitle">Track and share your favorite places!</p>
    <img src="/images/welcome-img.jpg" width="600">
  </div>
</div>
<section class="section">
  <div class="content has-text-centered">
    <h2 class="subtitle is-4 has-text-grey">
      <i class="fas fa-user-plus mr-2"></i>
      Sign up or Log in...
    </h2>
    <div class="buttons is-centered mt-4">
      <a href="/signup" class="button is-primary is-medium">
        <span class="icon"><i class="fas fa-user-plus"></i></span>
        <span>Sign Up</span>
      </a>
      <a href="/login" class="button is-info is-medium">
        <span class="icon"><i class="fas fa-sign-in-alt"></i></span>
        <span>Log In</span>
      </a>
    </div>
  </div>
</section>