<form class="box" action="/addpoi" method="POST">
  <label>Enter Point of Interest Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Name" name="name">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Enter Latitude" name="latitude">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Enter Longitude" name="longitude">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Point of Interest</button>
</form>
